@font-face {
    font-family: "PTRootUIWebMedium";
    src: url("../assets/fonts/PT-Root-UI_Medium.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "GolosTextWebMedium";
    src: url("../assets/fonts/Golos-Text_Medium.woff2") format("woff2");
    font-style: normal;
}

@font-face {
    font-family: "GolosTextWebBlack";
    src: url("../assets/fonts/Golos-Text_Black.woff2") format("woff2");
    font-style: normal;
}
