@import "src/styles/variables";

.DishModalWindowScreen_ModifierBlock__label {
  display: flex;

  &:hover {
    cursor: pointer;
  }

  &:not(:last-child) {
    margin-bottom: px-to-rem(13);
  }
}

.DishModalWindowScreen_ModifierBlock__input {
  margin: 0;
  width: px-to-rem(20);
  height: px-to-rem(20);
  accent-color: $color--purpleMedium;
}

.DishModalWindowScreen_ModifierBlock__p {
  position: relative;
  top: px-to-rem(-4);
  font-size: px-to-rem(20);
  margin-left: px-to-rem(8);
}

.DishModalWindowScreen_ModifierBlock__span {
  color: $color--purpleMedium;
}