.CustomSelector__suggestionBlock {
    min-width: 100%;
    position: absolute;
    top: 100%;
    z-index: 2;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    border-radius: 5px;
}
.CustomSelector__suggestionHint {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
    width: 100%;
    text-align: left;
    padding-left: 8px !important;
    background-color: white;
    color: grey;
}

.CustomSelector__div {
    position: relative;
    display: flex;
}

.CustomSelector__clearButton {
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: lightgray;
    }
}
